<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>bahone</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/typicons.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">

</head>
<% 
function random(min,max){return Math.floor(Math.random() * (max - min + 1) + min)};
 %> 
<body style="background: rgb(220,220,220);">
    <nav class="navbar navbar-light navbar-expand-md fixed-bottom navigation-clean" style="background: rgba(0,0,0,0);">
        <div class="container-fluid"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-circle-plus" style="font-size: 8vmin;color: rgb(0,107,205); cursor: pointer" onclick="window.open('/send','_self')">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <circle cx="12" cy="12" r="9"></circle>
                <line x1="9" y1="12" x2="15" y2="12"></line>
                <line x1="12" y1="9" x2="12" y2="15"></line>
            </svg>
            <div class="d-flex">
                <h1 style="font-size: 3vmin;font-family: Vazirmatn; cursor: pointer" onclick="window.open
('https://hamidreza01.ir','_self')">توسط حمیدرضا قهرمانی</h1><i class="typcn typcn-heart d-xl-flex justify-content-xl-center" style="color: rgb(255,0,0);font-size: 3vmin;margin-right: 5px;margin-left: 5px;text-align: center;margin-top: -4px;"></i>
                <h1 style="font-size: 3vmin;font-family: Vazirmatn;">توسعه داده شده با&nbsp;</h1>
            </div>
        </div>
    </nav>
    <div class="col d-flex" style="margin-top: 20px;"><i class="fab fa-github" style="font-size: 6vmin; cursor: pointer;" onclick="window.open('https://github.com/hamidreza01/excuse','_self')"></i>
        <h1 style="font-size: 6vmin;width: 100%;text-align: right;font-family: Vazirmatn;height: 100%;">&nbsp;! بهانه هات جور شد رفیق&nbsp;</h1>
    </div>
    <div class="col d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center" id="colbody" style="height: 80%;">
        <div class="d-flex" id="show" style="height: auto;width: 70%;">
            <div><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" style="font-size: 10vmin;margin-right: 10px;">
                    <path d="M5.12104 17.8037C7.15267 16.6554 9.4998 16 12 16C14.5002 16 16.8473 16.6554 18.879 17.8037M15 10C15 11.6569 13.6569 13 12 13C10.3431 13 9 11.6569 9 10C9 8.34315 10.3431 7 12 7C13.6569 7 15 8.34315 15 10ZM21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg></div>
            <div style="width: 100%;">
                <div style="background: #ffffff;width: 100%;padding: 20px;border-radius: 15px;box-shadow: 0px 0px 5px;">
                    <h1 style="font-family: Vazirmatn;font-size: 3.8vmin;"><%= msg.name %></h1>
                    <p style="text-align: right;font-family: Vazirmatn;font-size: 4vmin;"><%= msg.text %></p>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
