<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>bahone</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/typicons.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>
<% 
function random(min,max){return Math.floor(Math.random() * (max - min + 1) + min)};
 %> 
 
<body style="background:  rgb(<%= random(0,256) %>,<%= random(0,256) %>,<%= random(0,256) %>,0.300);">
    <div class="col d-flex" style="margin-top: 20px;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" style="font-size: 6vmin;" onclick="window.open('/','_self')">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M6 22.8787C4.34315 22.8787 3 21.5355 3 19.8787V9.87866C3 9.84477 3.00169 9.81126 3.00498 9.77823H3C3 9.20227 3.2288 8.64989 3.63607 8.24262L9.87868 2.00002C11.0502 0.828445 12.9497 0.828445 14.1213 2.00002L20.3639 8.24264C20.7712 8.6499 21 9.20227 21 9.77823H20.995C20.9983 9.81126 21 9.84477 21 9.87866V19.8787C21 21.5355 19.6569 22.8787 18 22.8787H6ZM12.7071 3.41423L19 9.70713V19.8787C19 20.4309 18.5523 20.8787 18 20.8787H15V15.8787C15 14.2218 13.6569 12.8787 12 12.8787C10.3431 12.8787 9 14.2218 9 15.8787V20.8787H6C5.44772 20.8787 5 20.4309 5 19.8787V9.7072L11.2929 3.41423C11.6834 3.02371 12.3166 3.02371 12.7071 3.41423Z" fill="currentColor"></path>
        </svg>
        <h1 style="font-size: 4vmin;width: 100%;text-align: right;font-family: Vazirmatn;height: 100%;">بهانه هاتو با همکارات به اشتراک بزار</h1>
    </div>
    <div class="col d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center" id="colbody" style="height: 80%;">
        <div id="show" style="height: auto;width: 70%;">
            <form action="/send" method="post">
                <h1 class="text-right" style="font-family: Vazirmatn;font-size: 4vmin;padding-right: 17px;margin-bottom: 17px;">نام نمایشی</h1><input type="text" style="width: 100%;border-radius: 11px;border-style: none;height: 8vmin;text-align: right;padding: 15px;box-shadow: 0px 0px 2px;font-family: Vazirmatn;" required="" minlength="3" maxlength="20" name="name">
                <h1 class="text-right" style="font-family: Vazirmatn;font-size: 4vmin;padding-right: 17px;margin-bottom: 17px;margin-top: 17px;">متن</h1><textarea style="width: 100%;height: 20vmin;padding: 15px;border-radius: 11px;border-style: none;box-shadow: 0px 0px 2px;text-align: right;font-family: Vazirmatn;" required="" minlength="10" maxlength="500" name="text"></textarea><button class="btn btn-primary" type="submit" style="margin-top: 34px;width: 118px;font-family: Vazirmatn;box-shadow: 0px 0px 9px rgb(0,98,204);height: 45px;">ارسال</button>
            </form>
        </div>
    </div>
    <nav class="navbar navbar-light navbar-expand-md fixed-bottom d-xl-flex navigation-clean" style="background: rgba(0,0,0,0);">
        <div class="container-fluid">
            <div></div>
            <div class="d-flex">
                
                <h1 style="font-size: 3vmin;font-family: Vazirmatn;" onclick="window.open('https://hamidreza01.ir','_self')">توسط حمیدرضا قهرمانی</h1><i class="typcn typcn-heart d-xl-flex justify-content-xl-center" style="color: rgb(255,0,0);font-size: 3vmin;margin-right: 5px;margin-left: 5px;text-align: center;margin-top: -4px;"></i>
                <h1 style="font-size: 3vmin;font-family: Vazirmatn;">توسعه داده شده با&nbsp;</h1>

            </div>
        </div>
    </nav>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>